@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/* Estilo para o container principal */
#login-container {
    max-width: 100vh;
    /* Ajuste conforme necessário */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;

}

.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #989898;
    font-size: 1rem;
    font-weight: bold;
    margin: 2rem;
}

.text-box span {
    color: #7E5E52;
}

.text-box .identificaçao {
    color: #DC3545;
    margin-right: 1rem;
}

/* Estilo para a seção principal com duas colunas */
.box-container {
    display: flex;
    justify-content: space-between;
}

/* Estilo para a primeira coluna "Já sou cadastrado" */
#login-existing {
    display: block;
    margin: 0 auto; 
    width: 45%;
    /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Alinha os itens verticalmente no centro */
    margin-right: 5%;
    /* Espaçamento entre as colunas, ajuste conforme necessário */
    color: #E35D6A;
}

/* Estilo para os elementos dentro de "Já sou cadastrado" */
#login-existing>* {
    width: 100%;
    box-sizing: border-box;
    /* Garante que o padding não aumente a largura total */
    margin-bottom: 10px;
    /* Espaçamento entre os elementos, ajuste conforme necessário */
    
}

#login-existing h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

#login-existing .email,
.senha,
button,
a {
    margin: 1rem;
}

#form-login label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

#form-login input[type="email"],
#form-login input[type="password"] {
    width: calc(100% - 16px); /* 16px é a soma do padding (8px de cada lado) */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #EA868F;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo para o botão "Fazer Login" */
#login-existing button {
    display: block; /* Garante que o botão ocupe toda a largura disponível */
    margin: 0 auto; /* Centraliza o botão apenas na horizontal */
    padding: 10px;
    background-color: #EA868F;
    /* Cor de fundo desejada */
    color: #fff;
    /* Cor do texto */
    border: none;
    border-radius: 8px;
    /* Bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Efeito de transição suave para a cor de fundo */
}

#login-existing button:hover {
    background-color: #D16B7E;
    /* Cor de fundo ao passar o mouse */
}

/* Estilo para a segunda coluna "Novo usuário" */
#login-new {
    width: 45%;
    /* Ajuste conforme necessário */
    color:#C78E5F;
    
}
#login-new h3{
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 2rem;
}

#login-new button {
    display: block; /* Garante que o botão ocupe toda a largura disponível */
    margin: 0 auto; /* Centraliza o botão apenas na horizontal */
    margin-top: 2rem;
    padding: 10px;
    background-color: #C78E5F;
    /* Cor de fundo desejada */
    color: #fff;
    /* Cor do texto */
    border: none;
    border-radius: 15px;
    /* Bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Efeito de transição suave para a cor de fundo */
}

#login-new button:hover {
    background-color: #DAC4A4;
    /* Cor de fundo ao passar o mouse */
}

/* Estilo para o texto informativo abaixo do título */
.box-container p {
    text-align: center;
    font-size: 2rem;
}

/* Estilo para o formulário de login */
#form-login {
    margin-top: 10px;
}

/* Restante do seu estilo continua aqui... */